.btn {
  display: inline-block;
  box-sizing: border-box;
  width: 280px;
  padding-top: 15px;
  padding-bottom: 16px;
  border-radius: 30px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  cursor: pointer;
}

.btn--download {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  //height: 55px;
  color: $white-color;
  border: solid 3px $white-color;
  background-color: transparent;
}

.btn--download:hover,
.btn--download:focus {
  color: $pink-color;
  background-color: $white-color;
}

.btn--download:active {
  color: rgba($pink-color, 0.3%);
  background-color: $white-color;
}

.btn--primary {
  margin-bottom: 12px;
  color: $pink-color;
  border: solid 3px $pink-color;
  background-color: transparent;
}

.btn--primary:hover,
.btn--primary:focus {
  color: $white-color;
  background-color: $pink-color;
}

.btn--primary:active {
  color: rgba($white-color, 0.3%);
  background-color: $pink-color;
}

.btn--secondary {
  color: rgba($grey-color, 0.1%);
  border: solid 3px rgba($grey-color, 0.1%);
  background-color: transparent;
}

.btn--secondary:hover,
.btn--secondary:focus {
  color: rgba($grey-color, 0.3%);
  border: solid 3px rgba($grey-color, 0.3%);
}

.btn--secondary:active {
  color: rgba($white-color, 0.3%);
  border: solid 3px rgba($grey-color, 0.3%);
  background-color: rgba($grey-color, 0.3%);
}

@media (min-width: $tablet-width) {
  .btn--download {
    width: 300px;
  }

  .btn--primary,
  .btn--secondary {
    width: 260px;
  }

  .btn--primary {
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .btn--download {
    font-size: 21px;
    line-height: 21px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .btn--primary,
  .btn--secondary {
    width: 183px;
  }

  .btn--primary {
    margin-bottom: 0;
  }
}
