.btn {
  display: inline-block;
  box-sizing: border-box;
  width: 280px;
  padding-top: 15px;
  padding-bottom: 16px;
  border-radius: 30px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  cursor: pointer;
}

.btn--download {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
  color: $white-color;
  border: solid 3px $white-color;
  background-color: transparent;

  &:hover,
  &:focus {
    outline: none;
    color: $pink-color;
    background-color: $white-color;
  }

  &:active {
    color: rgba($pink-color, 0.3%);
    background-color: $white-color;
  }
}

.btn--primary {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 12px;
  color: $pink-color;
  border: solid 3px $pink-color;
  background-color: transparent;

  &:hover,
  &:focus {
    outline: none;
    color: $white-color;
    background-color: $pink-color;
  }

  &:active {
    color: rgba($white-color, 0.3%);
    background-color: $pink-color;
  }
}

.btn--secondary {
  margin: 0 auto;
  color: rgba($grey-color, 0.1%);
  border: solid 3px rgba($grey-color, 0.1%);
  background-color: transparent;

  &:hover,
  &:focus {
    outline: none;
    color: rgba($grey-color, 0.3%);
    border: solid 3px rgba($grey-color, 0.3%);
  }

  &:active {
    color: rgba($white-color, 0.3%);
    border: solid 3px rgba($grey-color, 0.3%);
    background-color: rgba($grey-color, 0.3%);
  }
}

@media (min-width: $tablet-width) {
  .btn {
    &--download {
      margin-bottom: 46px;
      width: 300px;
    }

    &--primary,
    &--secondary {
      margin: 0;
      width: 260px;
    }

    &--primary {
      margin-bottom: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .btn {
    &--download {
      margin-bottom: 69px;
      padding-top: 14px;
      padding-bottom: 14px;
      font-size: 21px;
      line-height: 21px;
    }

    &--primary,
    &--secondary {
      width: 183px;
    }

    &--primary {
      margin-bottom: 0;
    }
  }
}
