.button {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $white-color;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: $green-color;
  border: solid 2px $green-color;
}

.button:hover,
.button:focus {
  background-color: $green-color;
  border: solid 2px $green-color;
}

.button:active {
  color: rgba($white-color, 0.3%);
  background-color: $green-color;
  border: solid 2px $green-color;
}

.button:disabled {
  background-color: $lightgrey-color;
  border: solid 2px $lightgrey-color;
}

.button--form {
  padding: 23px 45px;
}

.button--error {
  padding: 23px 125px;
}

.button--request {
  padding: 23px 67px;
}
