.contacts__list {
  list-style: none;
}

.contacts__text {
  color: $grey-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.contacts__address {
  color: $pink-color;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}

.contacts__address--mail:hover {
  color: $grey-color;
}

.contacts__address--mail:active {
  color: $grey-color;
  opacity: 0.3;
}
