.contacts {
  width: auto;
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: $white-color;
}

.contacts__question {
  margin: 0 auto;
  padding: 0;
  padding-top: 44px;
  padding-bottom: 39px;
  width: auto;
}

.contacts__list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  list-style: none;
  background-color: $white-color;
  z-index: 3;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__text {
  margin: 0;
  margin-bottom: 7px;
  color: $grey-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  &--write {
    margin-bottom: 9px;
  }

  &--come {
    margin-bottom: 9px;
  }
}

.contacts__address {
  margin: 0;
  margin-bottom: 25px;
  color: $pink-color;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  cursor: pointer;

  &--mail {
    margin-bottom: 30px;

    &:hover,
    &:focus {
      outline: none;
      color: $grey-color;
      border-bottom: solid 1px $grey-color;
    }

    &:active {
      color: $grey-color;
      opacity: 0.3;
    }
  }

  &--come {
    margin-bottom: 40px;
    line-height: 26px;
  }
}

.contacts__connection {
  position: relative;
  height: 200px;
  width: 100%;

  &::before {
    position: absolute;
    top: -89px;
    left: 50%;
    margin-left: -160px;
    content: "";
    width: 320px;
    height: 123px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 1200px 123px;
    z-index: 2;
  }

  &::after {
    position: absolute;
    bottom: 69px;
    left: calc(50% - 18px);
    content: "";
    width: 36px;
    height: 36px;
    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.contacts__connection iframe {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: none;
}

.contacts__map {
  display: block;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 660px;
  }

  .contacts__question {
    padding-top: 46px;
    padding-bottom: 48px;
  }

  .contacts__list {
    width: 620px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts__item {
    width: 300px;

    &--come {
      margin-top: 22px;
      width: 620px;
    }
  }

  .contacts__connection {
    height: 375px;

    &::before {
      top: -54px;
      margin-left: -330px;
      width: 660px;
    }

    &::after {
      bottom: 144px;
    }
  }

  .contacts__text {
    margin-bottom: 11px;

    &--write {
      margin-bottom: 12px;
    }
  }

  .contacts__address {
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  .contacts__map {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 1200px;
  }

  .contacts__question {
    padding-top: 66px;
    padding-bottom: 62px;
    line-height: 58px;
  }

  .contacts__list {
    width: 920px;
  }

  .contacts__item {
    width: 280px;

    &--call {
      order: 0;
    }

    &--write {
      order: 2;
    }

    &--come {
      margin: 0;
      order: 1;
      width: 280px;
    }
  }

  .contacts__text {
    margin-bottom: 30px;

    &--come {
      margin-bottom: 28px;
    }
  }

  .contacts__address {
    &:last-child {
      margin-bottom: 20px;
    }
  }

  .contacts__connection {
    margin-top: 6px;
    height: 500px;

    &::before {
      top: 0;
      margin-left: -600px;
      width: 1200px;
      background-size: 1288px 108px;
      background-position: 50% -7px;
    }

    &::after {
      bottom: 202px;
    }
  }

  .contacts__map {
    width: 1200px;
    height: 500px;
  }
}
