.download {
  width: auto;
  margin: 0;
}

.download__titlebox {
  margin: 0;
  width: auto;
  margin-top: -70px;
  min-height: 465px;
  background-color: $back-darkcolor;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 100%, 0 0;
  background-size: auto, cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"),
      url("../img/bg-back-mobile@2x.jpg");
    background-size: 80%, cover;
  }
}

.download__title {
  margin: 0 auto;
  width: 240px;
  padding-top: 93px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  color: $white-color;
  font-weight: 300;
}

.download__darkback {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 29px;
  padding-left: 20px;
  min-height: 271px;
  background-color: $back-darkcolor;
}

.download__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 207px;
  list-style: none;
}

.download__description {
  margin: 0;
  margin-top: 15px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: $white-color;
  text-align: center;
}

.download__store {
  display: inline-block;
  width: 47px;
  height: 56px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &--app {
    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    background-image: url("../img/logo-android.svg");
    background-position: 2px 9px;
  }

  &--microsoft {
    background-image: url("../img/logo-microsoft.svg");
    background-position: 2px 12px;
  }

  &:focus {
    outline: none;
    border: solid 2px $pink-color;
  }
}

@media (min-width: $tablet-width) {
  .download {
    margin-top: -110px;
    min-height: 729px;
    background-color: $back-darkcolor;
    background-image: url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 59% 100%, 50% 0;
    background-size: 106%, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"),
        url("../img/bg-back-tablet@2x.jpg");
      background-size: 105%, cover;
    }
  }

  .download__container {
    width: 660px;
    margin: 0 auto;
  }

  .download__titlebox {
    margin: 0;
    width: 340px;
    min-height: 324px;
    background-color: transparent;
    background-image: none;
  }

  .download__title {
    margin: 0 auto;
    padding-top: 203px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 40px;
    line-height: 48px;
  }

  .download__darkback {
    margin: 0;
    padding-top: 31px;
    width: 340px;
    background-color: transparent;
  }

  .download__list {
    width: 209px;
  }

  .download__description {
    margin-top: 31px;
    font-size: 18px;
  }

  .download__store {
    &--android {
      background-position: 2px 6px;
    }

    &--microsoft {
      background-position: 0 12px;
    }
  }
}

@media (min-width: $desktop-width) {
  .download {
    min-height: 854px;
    background-image: url("../img/iphone-hand-desktop@1x.png"),
      url("../img/bg-back-desktop@1x.jpg");
    background-position: 96% 100%, 50% 0;
    background-size: auto, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"),
        url("../img/bg-back-desktop@2x.jpg");
      background-size: 88%, cover;
    }
  }

  .download__container {
    width: 940px;
    padding: 0 130px;
  }

  .download__titlebox {
    width: 300px;
    min-height: 375px;
  }

  .download__title {
    padding-top: 220px;
    font-size: 50px;
    line-height: 59px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .download__darkback {
    margin: 0;
    width: 300px;
    padding-top: 53px;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }

  .download__list {
    padding: 0 20px;
  }

  .download__description {
    margin-top: 48px;
    padding: 0;
  }
}
