.download {
  /*margin: 0 auto;
  width: 320px;*/
  width: auto;
  margin: 0;
}

.download__titlebox {
  margin: 0;
  width: auto;
  min-height: 396px;
  background-image: url("../../img/iphone-hand-mobile@1x.png"),
    url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 100%, 0 0;
  background-size: auto, cover;
}

.download__title {
  margin: 0 auto;
  width: 240px;
  padding-top: 29px;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  color: $white-color;
  font-weight: 300;
}

.download__darkback {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 28px;
  //padding-right: 20px;
  padding-bottom: 35px;
  //padding-left: 20px;
  min-height: 271px;
  background-color: $back-darkcolor;
}

@media (min-width: $tablet-width) {
  .download {
    width: auto;
    margin: 0;
    min-height: 170px;
    background-image: url("../../img/iphone-hand-tablet@1x.png"),
      url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%, 0 0;
  }

  .download__container {
    width: 620px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .download__titlebox {
    margin: 0;
    width: 300px;
    min-height: 180px;
    background-image: none;
  }

  .download__title {
    margin: 0 auto;
    font-size: 40px;
    line-height: 40px;
  }

  .download__darkback {
    margin: 0;
    width: 300px;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .download {
    min-height: 743px;
  }

  .download__container {
    width: 940px;
    padding: 0 130px;
    margin: 0 auto;
  }

  .download__title {
    margin: 0 30px;
    font-size: 50px;
    line-height: 50px;
  }

  .download__titlebox {
    margin: 0;
    width: 300px;
  }

  .download__darkback {
    margin: 0;
    width: 300px;
    padding-left: 0;
    background-color: transparent;
  }
}

.download__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 205px;
  list-style: none;
}

.download__store {
  display: inline-block;
  width: 50px;
  height: 60px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.download__store--app {
  background-image: url("../../img/logo-apple.svg");
}

.download__store--android {
  background-image: url("../../img/logo-android.svg");
}

.download__store--microsoft {
  background-image: url("../../img/logo-microsoft.svg");
}

.download__description {
  margin: 0;
  margin-top: 30px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: $white-color;
  text-align: center;
}
