.form-img {
  width: auto;
  margin: 0;
  margin-bottom: 35px;
  background-color: $back-lightcolor;
}

.form-img__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 41px;
  width: auto;
}

.form-img__photo {
  margin: 0 auto;
  width: 280px;
}

.form-img__image {
  display: block;
  width: 280px;
  height: 374px;
}

.form-img__list {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  width: 280px;
  margin: 0 auto;
  padding: 0;
  min-height: 161px;
}

.form-img__item {
  display: flex;
  flex-direction: column;
  width: 80px;

  &--crop {
    padding-top: 40px;
    align-items: flex-start;
  }

  &--fill {
    padding-top: 41px;
    align-items: center;
  }

  &--brightness {
    padding-top: 43px;
    align-items: flex-end;
  }
}

.form-img__tool {
  padding: 0;
  fill: rgba($grey-color, 0.3%);
  background-color: transparent;
  border: 0;

  &:hover {
    fill: rgba($grey-color, 0.5%);
  }

  &:active,
  &:focus {
    outline: none;
    fill: $pink-color;
  }

  &--crop {
    padding-left: 14px;
  }

  &--brightness {
    padding-right: 26px;
  }
}

.form-img__tool--crop svg {
  width: 48px;
  height: 48px;
}

.form-img__tool--fill svg {
  width: 48px;
  height: 48px;
}

.form-img__tool--brightness svg {
  margin-top: 3px;
  width: 32px;
  height: 32px;
}

.form-img__input {
  padding: 0;
  appearance: none;
  width: 240px;
  position: absolute;
  top: 124px;
  left: 20px;
  display: none;
  background: $back-lightcolor;
}

.form-img__input:focus {
  outline: none;
}

.form-img__input::-webkit-slider-runnable-track {
  width: 240px;
  height: 1.6px;
  cursor: pointer;
  background: $grey-color;
  border: 0.2px solid $grey-color;
}

.form-img__input::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #f2f2f2;
  border: solid 2px $pink-color;
  cursor: pointer;
  appearance: none;
  margin-top: -6px;
}

.form-img__input:focus::-webkit-slider-thumb,
.form-img__input:active::-webkit-slider-thumb {
  background: $pink-color;
}

.form-img__input::-moz-range-track {
  width: 240px;
  height: 1.6px;
  cursor: pointer;
  background: $grey-color;
}

.form-img__input::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $back-lightcolor;
  border: solid 2px $pink-color;
  cursor: pointer;
}

.form-img__input:focus::-moz-range-thumb,
.form-img__input:active::-moz-range-thumb {
  background: $pink-color;
}

.form-img__input::-ms-track {
  width: 240px;
  height: 1.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 8px 0;
  color: transparent;
}

.form-img__input::-ms-fill-lower {
  background: $grey-color;
  border: 0.2px solid $grey-color;
}

.form-img__input::-ms-fill-upper {
  background: $grey-color;
  border: 0.2px solid $grey-color;
}

.form-img__input::-ms-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #f2f2f2;
  border: solid 2px $pink-color;
  cursor: pointer;
  margin-top: 1px;
}

.form-img__input:focus::-ms-thumb,
.form-img__input:active::-ms-thumb {
  background: $pink-color;
}

.form-img__tool:focus + .form-img__input,
.form-img__tool:active + .form-img__input {
  display: block;
}

.form-img__tool:not(:active) ~ .form-img__input--crop {
  display: block;
}

.form-img__buttons {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: auto;
  border-top: solid 1px $borderform-color;
}

@media (min-width: $tablet-width) {
  .form-img__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    padding-top: 57px;
    padding-right: 20px;
    padding-bottom: 54px;
    padding-left: 20px;
  }

  .form-img__photo {
    margin: 0;
    width: 300px;
  }

  .form-img__image {
    width: 300px;
    height: 400px;
  }

  .form-img__wrapper {
    width: 275px;
  }

  .form-img__list {
    margin: 0;
    width: 275px;
    flex-direction: column;
  }

  .form-img__item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 275px;
    padding: 0;
    padding-right: 18px;
    border-bottom: solid 1px $borderform-color;

    &--crop {
      height: 56px;
    }

    &--fill {
      height: 73px;
    }

    &--brightness {
      height: 70px;
    }
  }

  .form-img__tool {
    fill: $pink-color;

    &:hover {
      fill: $pink-color;
    }

    &--crop {
      margin-top: -13px;
      padding-left: 1px;
    }

    &--fill {
      padding-top: 8px;
      padding-left: 2px;
    }

    &--brightness {
      padding-left: 7px;
    }
  }

  .form-img__tool--crop svg {
    width: 25px;
    height: 25px;
  }

  .form-img__tool--fill svg {
    width: 25px;
    height: 25px;
  }

  .form-img__tool--brightness svg {
    margin-top: 0;
    width: 16px;
    height: 16px;
  }

  .form-img__input {
    position: static;
    display: block;
    width: 202px;

    &--crop {
      margin-top: -15px;
    }
  }

  .form-img__input::-webkit-slider-runnable-track {
    width: 202px;
  }

  .form-img__input::-moz-range-track {
    width: 202px;
  }

  .form-img__input::-ms-track {
    width: 202px;
  }

  .form-img__buttons {
    margin: 0;
    margin-top: 66px;
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .form-img {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 98px;
  }

  .form-img__container {
    width: 800px;
    padding-right: 60px;
    padding-bottom: 57px;
    padding-left: 80px;
  }

  .form-img__wrapper {
    width: 410px;
  }

  .form-img__list {
    width: 410px;
  }

  .form-img__item {
    width: 410px;
    padding-right: 30px;
  }

  .form-img__tool {
    &--crop {
      margin-left: -2px;
      margin-top: -12px;
      padding-top: 0;
      padding-left: 0;
    }

    &--fill {
      padding-left: 0;
    }

    &--brightness {
      padding-left: 6px;
    }
  }

  .form-img__tool--crop svg {
    width: 48px;
    height: 48px;
  }

  .form-img__tool--fill svg {
    width: 48px;
    height: 48px;
  }

  .form-img__tool--brightness svg {
    margin-top: 0;
    width: 32px;
    height: 32px;
  }

  .form-img__input {
    width: 288px;
  }

  .form-img__input::-webkit-slider-runnable-track {
    width: 288px;
  }

  .form-img__input::-moz-range-track {
    width: 288px;
  }

  .form-img__input::-ms-track {
    width: 288px;
  }

  .form-img__buttons {
    margin-top: 146px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
