.form__fields {
  border: none;
}

.form__list {
  list-style: none;
}

.form__legend {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.form__label-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #d22856;
}

.form__label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.form__text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.data__explanation {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-transform: uppercase;
}
