.index-text {
  //position: relative;
  width: 250px;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: $grey-color;
  text-align: center;
  background-color: $white-color;
  //z-index: 2;
  //background-color: $white-color;

  &--second {
    margin-top: 15px;
  }
}

@media (min-width: $tablet-width) {
  .index-text {
    width: 620px;
    //margin: 0;
    margin-top: 50px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;

    &--second {
      margin-top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .index-text {
    width: 940px;
    //margin: 0;
    margin-top: 70px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
  }
}
