.main-nav__list {
  list-style: none;
}

.main-nav__item {
  background-color: #283645;
}

.main-nav__item a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 32px;
}

.main-nav__item a:hover,
.main-nav__item a:focus {
  color: #d22856;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 0;
  background-color: green /*transparent*/;
  background-image: url("../../img/icon-menu-cross.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}
