.page-header__logo {
  background-color: $grey-color;
}
/**.page-header__logo:hover path {
  fill: $pink-color;
}

.page-header__logo:active path {
  fill: rgba($white-color, 0.3%);
  }
**/
.page-header__title {
  margin: 0;
  min-height: 171px;
  font-size: 24px;
  line-height: 29px;
  color: $white-color;
  font-weight: 300;
  background-color: $grey-color;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__title--index {
  min-height: 396px;
  background-image: url("../../img/bg-back-mobile@1x.jpg"),
    url("../../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 50% 50%;
}
