.page-footer {
  background-color: $white-color;
  width: auto;

  &--index {
    display: none;
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-footer__logo {
  margin-bottom: 40px;

  &:focus {
    outline: none;
  }
}

.page-footer__logo svg {
  display: block;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo:hover .page-footer__logo-pink {
  fill: $pink-color;
}

.page-footer__logo:active .page-footer__logo-pink {
  fill: $grey-color;
}

.page-footer__logo-point {
  display: none;
}

.page-footer__logo-glassesdekstop {
  display: none;
}

.page-footer__logo-stars {
  display: none;
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__link {
  display: block;
  width: 46px;
  height: 46px;
  border: solid 3px rgba($grey-color, 0.1%);
  border-radius: 50%;
  background-color: $white-color;
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    outline: none;
    border: solid 3px $grey-color;
  }

  &:active {
    border: solid 3px rgba($black-color, 0.3%);
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}

.page-footer__copyright {
  display: flex;
  align-items: flex-start;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 52px;
}

.page-footer__text {
  margin: 0;
  margin-top: 15px;
  margin-right: 5px;
  font-size: 14px;
  line-height: 18px;
}

.page-footer__developer svg {
  width: 41px;
  height: 52px;
}

.page-footer__developer path {
  &:hover,
  &:focus {
    fill: $grey-color;
  }

  &:active {
    fill: rgba($grey-color, 0.3%);
  }
}

@media (min-width: $tablet-width) {
  .page-footer--index {
    position: relative;
    padding-top: 33px;
    padding-bottom: 33px;
    display: block;
    z-index: 2;
  }

  .page-footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 620px;
  }

  .page-footer__logo {
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer--index {
    padding-top: 68px;
    padding-bottom: 68px;
  }

  .page-footer__container {
    width: 940px;
    padding: 0 130px;
    //margin-bottom: 71px;
  }

  .page-footer__logo-glassestablet {
    display: none;
  }

  .page-footer__logo-glassesdekstop {
    display: inline-block;
  }

  .page-footer__logo-stars {
    display: inline-block;
  }

  .page-footer__logo-point {
    display: inline-block;
  }
}
