.posts__container {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.posts__author-image {
  display: block;
  width: 280px;
  height: 180px;

  &--panorama {
    width: 320px;
    height: 137px;
    margin: 0 auto;
  }
}

.posts__content {
  position: relative;
  margin-bottom: 21px;
  padding-top: 18px;
  padding-bottom: 19px;
  padding-left: 17px;
  padding-right: 12px;
  background-color: $back-lightcolor;

  &--panorama {
    width: 251px;
    margin-right: auto;
    margin-left: auto;
  }

  &--panorama::before {
    content: "";
    position: absolute;
    top: -137px;
    right: 0;
    width: 140px;
    height: 36px;
    background-color: $pink-color;
  }

  &--panorama::after {
    content: "Панорама дня";
    position: absolute;
    top: -131px;
    right: 20px;
    width: 101px;
    height: 24px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    color: $white-color;
    text-transform: uppercase;
  }
}

.posts__author-name {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: $grey-color;
}

.posts__author-name span {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: $grey-color;
  text-transform: uppercase;
}

.posts__text {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $grey-color;
}

.posts__likes {
  position: relative;
  padding-left: 32px;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink-color;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .posts__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .posts__item {
    width: 300px;

    &--panorama {
      margin: 0 auto;
      width: 660px;
    }
  }

  .posts__author-image {
    width: 300px;
    height: 300px;

    &--panorama {
      width: 660px;
      height: 509px;
    }
  }

  .posts__content {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 105px;
    padding-top: 25px;
    padding-right: 32px;
    padding-bottom: 25px;
    padding-left: 27px;

    &--panorama {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      width: 566px;
      min-height: 71px;
      padding-right: 27px;
      margin-bottom: 50px;
    }

    &::before {
      top: -452px;
    }

    &::after {
      top: -446px;
    }
  }

  .posts__author-name--panorama {
    margin-right: auto;
    width: 145px;
    order: 0;
  }

  .posts__text {
    min-height: 53px;

    &--panorama {
      min-height: 40px;
      order: 2;
      margin-bottom: 0;
    }
  }

  .posts__likes {
    padding-left: 0;
    padding-right: 34px;
    margin-top: auto;
    line-height: 17px;

    &::before {
      top: 1px;
      left: 227px;
    }

    &--panorama {
      width: 95px;
      margin-top: 0;
      text-align: right;
      line-height: 24px;
      order: 1;
    }

    &--panorama::before {
      top: 5px;
      left: 114px;
    }
  }
}

@media (min-width: $desktop-width) {
  .posts__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    padding: 0 130px;
    margin: 0 auto;
  }

  .posts__item {
    &--panorama {
      width: 1200px;
    }
  }

  .posts__author-image {
    height: 400px;

    &--panorama {
      width: 1200px;
      height: 506px;
    }
  }

  .posts__content {
    margin-bottom: 54px;
    padding-top: 25px;
    padding-right: 31px;
    padding-bottom: 25px;

    &::after {
      top: -447px;
    }

    &--panorama {
      width: 882px;
      min-height: 46px;
      padding-top: 23px;
      padding-left: 27px;
      padding-bottom: 7px;
      margin-bottom: 49px;
    }
  }

  .posts__likes {
    &::before {
      left: 229px;
    }

    &--panorama {
      margin-top: 2px;

      &::before {
        left: 110px;
        top: 4px;
      }
    }
  }
}
