.rates {
  position: relative;
  margin-top: 34px;
  padding-top: 93px;
  padding-bottom: 42px;
  background-color: $back-lightcolor;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 -66px;
  overflow: hidden;
  z-index: 3;
}

.rates__list {
  margin-bottom: 35px;
  margin-left: -540px;
  width: calc(280% - 320px);
  border-collapse: collapse;
  table-layout: fixed;
}

.rates__row {
  background-color: $white-color;

  &--main {
    background-color: $grey-color;
  }

  &--second td:not(:nth-child(1)) {
    border-top: none;
  }
}

.rates__plan {
  position: relative;
  color: $white-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  border-right: solid 2px $lightgrey-color;
  width: 281px;
  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;

  &--hit {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 74px;
      height: 73px;
      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &::after {
      content: "Хит";
      position: absolute;
      top: 13px;
      left: 5px;
      width: 35px;
      height: 30px;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      text-transform: uppercase;
      transform: rotate(-45deg);
    }
  }
}

.rates__plan span {
  color: $white-color;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.rates__component {
  position: relative;
  width: 281px;
  border: solid 2px $lightgrey-color;
  color: $grey-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-left: 22px;
  padding-right: 17px;
  padding-bottom: 16px;
  box-sizing: border-box;

  &--ok::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 18px;
    width: 31px;
    height: 22px;
    background-image: url("../img/icon-yesgreen.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 31px 21px;
  }

  &--close::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 18px;
    width: 27px;
    height: 26px;
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 27px 26px;
  }
}

@media (min-width: $tablet-width) {
  .rates {
    margin-top: 16px;
    padding-top: 88px;
    padding-bottom: 33px;
    background-position: 0 -42px;
    overflow: auto;
  }

  .rates__list {
    margin-left: auto;
    margin-right: auto;
    width: 620px;
    table-layout: auto;
    box-sizing: border-box;
  }

  .rates__plan {
    padding-top: 13px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 19px;
    width: 155px;
    font-size: 16px;

    &--empty {
      visibility: hidden;
    }

    &--hit {
      &::before {
        width: 61px;
        height: 61px;
        background-image: url("../img/bg-hit-tablet.svg");
        background-size: 61px 61px;
      }

      &::after {
        top: 5px;
        left: 3px;
      }
    }
  }

  .rates__plan span {
    font-size: 18px;
  }

  .rates__component {
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 9px;
    padding-left: 15px;
    width: 155px;
    text-transform: none;

    &--ok::after {
      top: 25%;
      right: 59px;
    }

    &--close::after {
      top: 25%;
      right: 62px;
    }
  }

  .rates__span {
    display: none;
  }

  .rates__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .rates {
    margin-top: 40px;
    padding-top: 148px;
    padding-bottom: 59px;
    background-position: 0 0;
    background-size: 1223px 82px;
  }

  .rates__list {
    width: 940px;
  }

  .rates__plan {
    padding-top: 19px;
    padding-right: 22px;
    padding-bottom: 19px;
    padding-left: 22px;
    width: 235px;
    font-size: 18px;

    &--hit {
      &::before {
        width: 74px;
        height: 73px;
        background-image: url("../img/bg-hit.svg");
        background-size: 74px 73px;
      }

      &::after {
        top: 12px;
        left: 7px;
      }
    }
  }

  .rates__plan span {
    font-size: 24px;
  }

  .rates__component {
    padding-top: 16px;
    padding-right: 23px;
    padding-bottom: 16px;
    padding-left: 21px;
    width: 235px;
    font-size: 17px;

    &--ok::after {
      right: 101px;
      top: 39%;
    }

    &--close::after {
      right: 103px;
      top: 27%;
    }
  }
}
