.research {
  display: none;
}

.research__link {
  &:focus {
    outline: none;
    border: solid 2px $pink-color;
  }
}

@media (min-width: $tablet-width) {
  .research {
    position: relative;
    display: block;
    margin-top: 59px;
  }

  .research__container {
    position: relative;
    width: 620px;
    padding-top: 37px;
    padding-right: 20px;
    padding-bottom: 27px;
    padding-left: 20px;
    margin: 0 auto;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 20px;
      width: 238px;
      height: 276px;
      background-image: url("../img/icon-timer.svg");
      background-size: 238px 276px;
      fill: #dedede;
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &::after {
      position: absolute;
      content: "";
      top: 55px;
      left: 38px;
      width: 176px;
      height: 176px;
      background-color: $white-color;
      border: solid 13px $pink-color;
      border-radius: 50%;
    }
  }

  .research__effect {
    margin-left: 308px;

    &::before {
      position: absolute;
      content: "24";
      top: 76px;
      left: 51px;
      width: 176px;
      height: 176px;
      color: $pink-color;
      font-size: 96px;
      line-height: 150px;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      z-index: 2;
    }
  }

  .research__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: $black-color;
  }

  .research__description {
    margin: 0;
    margin-bottom: 10px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $grey-color;
  }

  .research__description br:nth-child(1) {
    display: none;
  }

  .research__link {
    text-decoration: underline;
    color: $pink-color;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}

@media (min-width: $desktop-width) {
  .research {
    margin-top: 0;
    padding-top: 60px;
    background-color: $back-lightcolor;
  }

  .research__container {
    width: 940px;
    padding: 0 130px;
    padding-top: 91px;
    padding-bottom: 112px;

    &::before {
      top: 0;
      left: 130px;
      width: 298px;
      height: 345px;
      background-size: 298px 345px;
    }

    &::after {
      top: 68px;
      left: 152px;
      width: 221px;
      height: 221px;
      border: solid 16px $pink-color;
    }
  }

  .research__effect {
    margin-left: 365px;

    &::before {
      top: 95px;
      left: 190px;
      font-size: 120px;
      line-height: 187px;
    }
  }

  .research__title {
    line-height: 30px;
    margin-bottom: 25px;
  }

  .research__title br {
    display: none;
  }

  .research__description {
    margin-bottom: 30px;
    padding-right: 59px;
    font-size: 18px;
    line-height: 30px;
  }

  .research__description br:nth-child(1) {
    display: block;
  }

  .research__description br:nth-child(2) {
    display: none;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;
  }
}
