.site-text {
  width: 265px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 45px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $grey-color;
  text-align: center;

  &--foto {
    width: 240px;
    margin-bottom: 48px;
  }

  &--foto-down {
    margin-top: 41px;
    margin-bottom: 42px;
  }
}

.site-text span {
  visibility: hidden;
}

@media (min-width: $tablet-width) {
  .site-text {
    margin-top: 92px;
    margin-bottom: 61px;
    width: 500px;
    font-size: 18px;

    &--foto {
      margin-bottom: 76px;
    }

    &--foto-down {
      margin-top: 45px;
      margin-bottom: 69px;
    }
  }

  .site-text span {
    visibility: visible;
  }
}

@media (min-width: $desktop-width) {
  .site-text {
    margin-top: 91px;
    margin-bottom: 0;
    width: 770px;

    &--foto {
      margin-bottom: 89px;
      width: 590px;
    }

    &--foto-down {
      margin-top: 6px;
      margin-bottom: 66px;
    }
  }
}
