$grey-color: #283645;
$pink-color: #d22856;
$white-color: #ffffff;
$green-color: #2aab6d;
$lightgrey-color: #e5e5e5;
$black-color: #000000;
$back-lightcolor: #f2f2f2;
$back-darkcolor: #1d2631;
$black-shadow:#000101;
$tablet-width: 660px;
$desktop-width: 1200px;
